@page "/"

<div>
    <table class="table">
        <tr>
            <th>Tarefa</th>
            <th>Tempo Restante</th>
        </tr>
        @foreach (Tarefa tar in Tarefa.Tarefas)
        {
            <tr>
                <td>@tar.Descricao</td>
                <td>@tar.TempoEstimado</td>
            </tr>
        }

    </table>
</div>

<hr />

<div>
    <p>Descrição: <input type="text" @bind="tarefa.Descricao" /> </p>
    <p>Tempo estimado: <input type="time" @bind="tarefa.TempoEstimado" /> </p>

    <button @onclick="(() => AdicionarTarefa())">AdicionarTarefa</button>
</div>


@code {
    private Tarefa tarefa = new Tarefa();

    private void AdicionarTarefa()
    {
        Tarefa.AddTarefa(tarefa);
        tarefa = new Tarefa();
    }

    private void RemoverTarefa(Tarefa tarefa)
    {
        Tarefa.RemoveTarefa(tarefa);
    }
}